body{
color:#434455;
font-family: 'Roboto', sans-serif;
background: #FFFFFF;

}
h1,h2,h3,h4,h5,h6,p{
    margin-top: 0;
    margin-bottom: 0;
}

ul,ol{
    list-style-type: none;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
}
a{
    text-decoration: none;
    margin-left:0;
}
img{
    display: block;
    max-width: 100%;
}
.container{
width: 1158px;
margin: 0 auto;
padding: 0 15px;

}
.section{
    padding-top: 120px;
    padding-bottom: 120px;
}
/* =========================HEADER========================= */
.main-page{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08) ;
}
.main-cont{
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;

}
.page-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.design-logo{
    color:  #2E2F42;
    font-size: 18px;
    line-height: 1.17; 
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.logo-link{
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
margin-right: 76px;
}  

.menu-list{
    color: #2E2F42;
    display: flex;
    gap:40px;
  
}
.menu-item{
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
}
.menu-navigation-studio{
    position: relative; 
    color: #404bbf;
}
.menu-list-item{
    display:flex;
    color: #2E2F42;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-navigation-studio{
    position: relative; 
    color: #404bbf;
}
.menu-list-item:hover,
.menu-list-item:focus{
    color: #404BBF;
}

.menu-navigation-studio:active{
  text-decoration: underline;
}
.menu-navigation-studio::after {
    position: absolute;
    display: flex;
    left: 0;
    bottom:-1px;
    content: "";
    width: 48px;
    height: 4px;
    border-radius: 2px;
background: var(--OCEAN, #404BBF);
}
.menu-address-list{
    font-style: normal;
}
.menu-address-list-item{
    display: flex;
    gap: 40px;
    padding: 24px 0;
}

.menu-addres-list-link{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-addres-list-link:hover,
.menu-addres-list-link:focus{
    color: #404bbf;
}
/* ============================HEADER END=========================== */
/* ==============================HERO============================== */
.hero{
    display: flex;
background:#2e2f42;
height: 600px;
max-width: 1440px;
margin: 0 auto;
text-align: center;
padding: 188px 0;
background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/img-name.jpg);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;

}
.visually-hidden{
    position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.hero-text{
    display: flex;
    color: #FFF;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    font-style: normal;
    margin-left: auto;
  margin-right: auto;
  max-width: 496px;
margin-bottom: 48px;
}
.hero-button{
    display:block;
	margin-right: auto;
    margin-left: auto;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 16px 32px;
    font-family: inherit;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    background-color: #4d5ae5;
    color: #FFF;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus{
background: #404bbf;
}
/* ===============================HERO END=========================== */

/* ==============================SECTION 2======================== */
.advans-lists{
    display: flex;
    gap: 24px;
}
.sect-advans-blocks{
    width: calc((100% - 72px) / 4); 

}
.advans-title{
    color: var(--NAVY-BLUE, #2E2F42);
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em; 
    font-weight: 500;
    margin-bottom: 8px;
}

.advans-description{
    color:#434455;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}

.advas-list-link{
    display: flex;
  width: 264px;
}

.advand-cont{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    border-radius: 4px;
border: 1px solid var(--LIGHT-SLATE, #8E8F99);
background: var(--CLOUD, #F4F4FD);
    margin-bottom: 8px;
}

/* ================================SECTION 2 END================== */



/* ================================SECTION 3================== */
.sect-team{
background-color: #F4F4FD;
}
.sect-team-cont{
   
}
.sect-team-litle{
    color: #2E2F42;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
text-align: center;
margin-bottom: 72px;
}
.sect-team-list{
    display: flex;
    justify-content:center;
    gap:24px;
   padding: 0;
   box-sizing:content-box;
}
.sect-team-blocks{
    background-color: #FFFFFF; 
   width: calc((100% - 72px) / 4);
   border-radius: 0px 0px 4px 4px;
   box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);

}
.social-list-link:hover,
.social-list-link:focus {
    background-color: #404BBF;
}
.sect-team-text{
    padding: 32px 0;
    border-top: none;

}
.sect-team-text{
    display: flex;
    width: 264px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.team-name{
    color: #2E2F42;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    font-weight: 500;
    text-align: center;
    margin-bottom: 8px;
 
}
.team-profess-description{
    color: #434455;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;

}

/*======================SECTION 3 END======================== */




/*======================SECTION 4======================== */
.porfolio-page{
    background: #FFF;
}

.porfolio-title{
    color: var(--NAVY-BLUE, #2E2F42);
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
text-align: center;
margin-bottom: 72px; 
}
.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px; 
   padding: 0;
   
}
.porfolio-blocks{
    background-color: #FFFFFF;
   width: calc((100% - 48px)/3);
   transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.port-text{
    padding: 32px 0;
}
.porfolio-blocks:hover,
.porfolio-blocks:focus{
box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.social-list{
    display: flex;
    justify-content: center;
    gap:24px;  
}
.social-list-link{
    display: flex;
    align-items: center;
    justify-content: center;
    line-height:0;
    background-color: #4D5AE5;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    
}
.social-list-icon{
    fill: #f4f4fd
  
}
.overlay{
    position: relative;
  overflow: hidden;
  
}
.overlay-text{
    position: absolute;
    display: flex;
    padding: 40px 32px;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #f4f4fd;
    background: var(--IRIS, #4D5AE5); 
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5; 
    letter-spacing: 0.02em;
  
}
.porfolio-blocks:hover .overlay-text,
.porfolio-blocks:focus .overlay-text{
    transform: translateY(0%);
    
}
.port-text{
    padding:32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.portfolio-link:hover,
.portfolio-link:focus{
color: #2E2F42;  
}
.portfolio-name-title{
    font-weight: 500;
    color: #2E2F42;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
margin-bottom: 8px;
}
.porfolio-specf{
    color: var(--SLATE, #434455);
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
}

/* =======================SECTIOAN 4 END=================== */



/* =======================FOOTER=================== */
.footer-list{
background:#2e2f42;
flex-shrink: 0;
padding: 100px 0;
}

.name-page{
    color:  #4d5ae5;
    font-size: 18px;
    line-height: 1.17; 
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    display: inline-block;
    margin-bottom: 16px;
}
.footer-container{
    margin-right: 120px;
}
.design-logo-footer{
    color: #f4f4fd;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
}
.footer-text{
    color:#F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em; 
    max-width: 264px;
   
}
.footer-cont{
    display: flex;
    align-items: baseline;
}
.social-text-footer{
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em; 
    margin-bottom: 16px; 
}
.social-list-footer{
display: flex;
gap:16px; 
}
.social-list-item-footer{
    width: 40px;
    height: 40px;
}
.social-list-link-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    line-height:0;
    background-color: #4D5AE5;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    
}
.social-list-link-footer:hover,
.social-list-link-footer:focus {
    background-color:#31d0aa;
}
.social-list-icon-footer{
    fill: #f4f4fd
 
}
/* =======================FOOTER END===================*/